.breadcrumb_wrapper {
    margin-top: 45px;
    margin-bottom: 26px;
    padding-right: 12px;
    .breadcrumb_list {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
        .breadcrumb_item {
            margin-right: 8px;

            &::before {
                display: none;
            }
            
            a {
                display: flex;
                align-items: center;
                color: #5979C4;
                text-decoration: none;
                font-size: 18px;

                img {
                    width: 11px;
                    margin-left: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .breadcrumb_wrapper {
        display: none;
    }
}