.mail_edit_block {
  margin-top: 30px;
}
.mail_edit_block .page_title {
  margin-bottom: 46px;
}
.mail_edit_block .mail_edit_wrapper {
  width: 100%;
  overflow: hidden;
}
.mail_edit_block .mail_edit_wrapper h4 {
  margin-bottom: 10px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 466px) auto auto auto;
  column-gap: 60px;
  row-gap: 30px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_title .default_input_wrapper,
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_tag .default_input_wrapper {
  padding: 6px 10px;
  border-width: 1px;
  border-radius: 4px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_title {
  grid-column: 1/5;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_tag h4 {
  display: inline-block;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_control_date {
  max-width: 170px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_control_date .datetime_picker {
  max-width: 170px;
  width: 170px;
  padding: 6px 10px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 16px !important;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_control_date .datetime_picker::placeholder {
  font-size: 16px !important;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_control_date .datetime_picker img {
  width: 22px;
  margin-right: 10px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_vote .mail_edit_vote_wrapper {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-top: 18px;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients {
  width: 100%;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px 12px 10px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #869ED6;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #ffffff;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link .tags_text {
  color: #253238;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link .tags_text:focus {
  outline: none;
}
.mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_editor_wrapper {
  grid-column: 1/5;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  right: -100%;
  height: 0px;
  width: 100%;
  margin-top: 0px;
  opacity: 0;
  transition: right 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button {
  margin-left: auto;
  background-color: #ffffff;
  border: 1px solid #FF720B;
  padding: 8px 10px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button svg {
  width: 23px;
  margin-right: 10px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button svg path {
  fill: #FF720B;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button span {
  margin-left: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #FF720B;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button:hover {
  background-color: #FF720B;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button:hover svg path {
  fill: #ffffff;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button:hover span {
  color: #ffffff;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 38px;
  border-bottom: 1px solid #5979C4;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top p {
  width: 100%;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top .mailings_recipients {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top .mailings_recipients .select_top_icon {
  width: 24px;
  margin-right: 6px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top .mailings_recipients p {
  margin-right: 50px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list {
  display: flex;
  justify-items: left;
  flex-wrap: wrap;
  row-gap: 30px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab p,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab p,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab p {
  text-align: left;
  white-space: normal;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab:not(:last-child),
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab:not(:last-child),
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab:not(:last-child) {
  margin-right: 20px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab svg,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab svg,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab svg {
  width: 23px;
  margin-right: 10px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab:not(.active_tab):hover,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab:not(.active_tab):hover,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab:not(.active_tab):hover {
  background-color: #879FD6;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab:hover, .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab.active_tab,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab:hover,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab.active_tab,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab:hover,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab.active_tab {
  background-color: #5979C4;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab:hover img, .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab.active_tab img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab:hover img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab.active_tab img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab:hover img,
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab.active_tab img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1096%) hue-rotate(266deg) brightness(117%) contrast(100%);
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list {
  margin-top: 22px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_wrapper {
  margin-top: 46px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_wrapper .committees_tabs_list {
  margin-top: 22px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_wrapper {
  margin-top: 26px;
}
.mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_wrapper .workgroups_tabs_list {
  margin-top: 30px;
}
.mail_edit_block .mail_edit_wrapper.active_wrapper {
  margin-top: 80px;
}
.mail_edit_block .mail_edit_wrapper.active_wrapper .mail_edit_inputs_wrapper {
  position: relative;
  height: 0px;
  left: -100%;
  transition: left 0.3s ease-in-out, all 0.3s ease-in-out;
  display: none;
}
.mail_edit_block .mail_edit_wrapper.active_wrapper .mailings_recipients_select_wrapper {
  opacity: 1;
  right: 0;
  height: 100%;
}
.mail_edit_block .mail_publication_wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper {
  display: flex;
  align-items: center;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .datetime_picker {
  padding: 6px 10px;
  max-width: 150px;
  margin-left: 18px;
  border-width: 1px;
  border-radius: 4px;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .datetime_picker img {
  width: 22px;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button {
  background-color: #5979C4;
  margin-left: 16px;
  padding: 8px 10px;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button img {
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1096%) hue-rotate(266deg) brightness(117%) contrast(100%);
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button p {
  font-weight: 500;
  font-size: 18px;
}
.mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button:hover {
  background-color: #879FD6;
}
.mail_edit_block .mail_publication_wrapper .cancel_link {
  padding: 6px 10px;
  margin-left: auto;
  background-color: #FF720B;
}
.mail_edit_block .mail_publication_wrapper .cancel_link p {
  color: #ffffff;
}
.mail_edit_block .mail_publication_wrapper .cancel_link img {
  margin-right: 10px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1096%) hue-rotate(266deg) brightness(117%) contrast(100%);
}
.mail_edit_block .mail_publication_wrapper .cancel_link p {
  font-size: 18px;
  font-weight: 500;
}
.mail_edit_block .mail_publication_wrapper .cancel_link:hover {
  background-color: #FF8409;
}

.footer {
  margin-top: 70px;
}

@media screen and (max-width: 1539px) {
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper {
    grid-template-columns: auto min-content min-content;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_title {
    grid-column: 1/4;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_tag {
    grid-column: 1/2;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients {
    order: 1;
    grid-column: 1/4;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_editor_wrapper {
    order: 2;
    grid-column: 1/4;
  }
}
@media screen and (max-width: 1239px) {
  .mail_edit_block {
    margin-top: 20px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list {
    row-gap: 20px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab {
    padding: 4px 8px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab img,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab img,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab img {
    margin-right: 8px;
    margin-bottom: auto;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .main_tabs_list .tab p,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .committees_tabs_list .tab p,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .workgroups_tabs_list .tab p {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper {
    grid-template-columns: auto auto;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_title {
    grid-column: 1/3;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_tag {
    order: 1;
    grid-column: 1/3;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients {
    order: 1;
    grid-column: 1/3;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_tag {
    grid-column: 1/3;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_editor_wrapper {
    order: 2;
    grid-column: 1/3;
  }
  .mail_edit_block .mail_publication_wrapper {
    flex-wrap: wrap;
  }
  .mail_edit_block .mail_publication_wrapper .cancel_link {
    margin: 20px auto 10px;
  }
}
@media screen and (max-width: 767px) {
  .mail_edit_block .page_title {
    margin-bottom: 32px;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper {
    column-gap: 10px;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link {
    display: flex;
    justify-content: center;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link img {
    margin-right: 10px;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link .tags_text {
    display: flex;
    overflow: visible;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    width: auto;
    color: #879FD6;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_recipients .tags_menu_link .more_tags {
    display: none;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_vote .mail_edit_vote_wrapper {
    column-gap: 10px;
  }
  .mail_edit_block .mail_edit_wrapper .mail_edit_inputs_wrapper .mail_edit_vote .mail_edit_vote_wrapper .custom_radio span {
    margin-left: 6px;
    font-size: 16px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top .mailings_recipients img {
    display: none;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .mailings_recipients_select_top .mailings_recipients p {
    margin-right: 0px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button {
    margin: 30px auto 35px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button svg,
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button img {
    width: 18px;
  }
  .mail_edit_block .mail_edit_wrapper .mailings_recipients_select_wrapper .accept_button span {
    font-size: 14px;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper h4 {
    grid-column: 1/3;
    width: 100%;
    margin-bottom: 20px;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .datetime_picker {
    margin-left: 0px;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button {
    margin-left: auto;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button p {
    font-size: 16px;
  }
  .mail_edit_block .mail_publication_wrapper .cancel_link {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
  }
  .mail_edit_block .mail_publication_wrapper .cancel_link p {
    font-size: 16px;
  }
}
@media screen and (max-width: 374px) {
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper {
    grid-template-columns: auto;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper h4 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .mail_edit_block .mail_publication_wrapper .mail_publication_main_wrapper .publicate_button {
    width: 100%;
  }
}