.documents_list .documents_list_item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.documents_list .documents_list_item:not(.document_compact) .document_info_wrapper .document_link {
  max-width: 210px;
  min-width: 210px;
}
.documents_list .documents_list_item .document_info_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.documents_list .documents_list_item .document_info_wrapper .document_info_title {
  font-size: 18px;
  margin: auto 38px;
}
.documents_list .documents_list_item .document_info_wrapper .document_link {
  margin-left: auto;
  padding: 6px 10px;
}
.documents_list .documents_list_item .document_info_wrapper .document_link span,
.documents_list .documents_list_item .document_info_wrapper .document_link p {
  font-size: 15px;
}
.documents_list .documents_list_item .document_info_wrapper .document_link p {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}
.documents_list .documents_list_item .document_info_wrapper .document_link svg,
.documents_list .documents_list_item .document_info_wrapper .document_link img {
  min-width: 18px;
  height: 100%;
  margin-right: 10px;
}
.documents_list .documents_list_item:nth-child(even) {
  background-color: #F3F4F8;
}
.documents_list .documents_list_item.document_compact {
  padding: 8px 10px;
}
.documents_list .documents_list_item.document_compact .document_info_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.documents_list .documents_list_item.document_compact .document_info_wrapper .document_info_title {
  margin: 0;
  margin-left: 0px;
  margin-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.documents_list .documents_list_item.document_compact .document_info_wrapper .document_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 13px 0px 13px 20px;
  border-left: 1px dashed #879FD6;
}
.documents_list .documents_list_item.document_compact .document_info_wrapper .document_link p {
  color: #879FD6;
}
.documents_list .documents_list_item.document_compact .document_info_wrapper .document_link:hover p {
  color: #5979C4;
}

@media screen and (max-width: 1024px) {
  .documents_list.documents_main_list {
    margin-top: 20px;
  }
  .documents_list .documents_list_item {
    align-items: flex-start;
  }
  .documents_list .documents_list_item .document_info_wrapper {
    flex-wrap: wrap;
  }
  .documents_list .documents_list_item .document_info_wrapper .document_info_title {
    width: 100%;
    margin-right: 0;
    font-size: 16px;
  }
  .documents_list .documents_list_item .document_info_wrapper .document_link {
    margin-top: 12px;
    margin-left: 38px;
  }
  .documents_list .documents_list_item:nth-child(even) {
    background-color: #F3F4F8;
  }
}
@media screen and (max-width: 768px) {
  .documents_list .documents_list_item {
    padding: 20px;
  }
  .documents_list .documents_list_item.document_compact .document_info_wrapper .document_link img {
    width: 24px;
  }
  .documents_list .documents_list_item .document_info_wrapper .document_info_title {
    margin-left: 13px;
  }
  .documents_list .documents_list_item .document_info_wrapper .document_link {
    margin-left: 13px;
  }
}